<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Atualizar Usuário - Sistema Escolar</title>

    <link rel="icon" href="/static/images/autismo-96.png" type="image/x-icon" />

    <link rel="stylesheet" href="/static/css/form.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.5.1/css/all.css"
    />

    <script src="/static/js/auth.js" defer></script>
    <script src="/static/js/atualiza-usuario.js" defer></script>
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Atualizar Usuário</h1>
        <div class="buttons">
          <button id="btn-home"><i class="fa-solid fa-house"></i> Home</button>
          <button id="btn-backward">
            <i class="fa-solid fa-arrow-left"></i> Voltar
          </button>
          <button id="btn-logout">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
          </button>
        </div>
      </div>
    </header>

    <main>
      <div class="form-container">
        <h2>Atualizar Dados do Usuário</h2>
        <form id="form-atualiza-usuario">
          <div class="input-group">
            <label for="id">ID do Usuário</label>
            <input type="number" id="id" name="id" required />
          </div>

          <div class="input-group">
            <label for="name">Nome completo</label>
            <input type="text" id="name" name="name" />
          </div>

          <div class="input-group">
            <label for="login">E-mail (Login)</label>
            <input type="email" id="login" name="login" />
          </div>

          <button type="submit" class="btn-enviar">
            <i class="fa-solid fa-user-pen"></i> Atualizar
          </button>
        </form>

        <p id="mensagem-retorno" class="mensagem"></p>
      </div>
    </main>
  </body>
</html>